<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Admission System</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="css/roboto.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/studentSidebar.css">
</head>
<body class="bg-light">

    <!-- page heading -->
    <h1 class="display-3 text-center bg-light p-2 mb-0">College Admission System</h1>

    <!-- including student navbar -->
    <%-include('partials/studentSidebar',{title:title,imageName:imageName});%>

    <!-- check for getchoice webdata -->
    <% if(taskNumber<=3){ %>

        <div class="container">

            <!-- main card for choice entry -->
            <div class="card col-7 mx-auto m-5">

                <!-- card heading -->
                <div class="card-title bg-dark rounded text-white text-center m-3 p-2 lead">
                    Enter Preferences
                </div>

                <div class="card-body">

                    <div class="row">

                        <div class="col-3">
                            <i class="fa fa-9x text-secondary fa-cog fa-spin"></i>
                        </div>

                        <div class="col-9 my-auto">
                            <p class="lead">Your Choices will be received Soon. Please view Home page for further details</p>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <!-- fixed home footer -->
        <div class="bg-dark fixed-bottom">
            <%- include('partials/homeFooter'); %> 
        </div>
    
    <!-- if choice entry was enabled -->
    <% }else{ %>

        <!-- if choice was not locked -->
        <% if(lockChoice===0){ %>
        <div class="container">
            <div class="alert alert-warning fade show mt-3" role="alert">
                <strong>Lock Your Choices! </strong> | Lock Your Choices Immediately after choices Entry 
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="row">

                <!-- card for choice entry -->
                <div class="card my-5 col-5">

                    <!-- card header -->
                    <div class="card-header lead bg-dark text-white text-center rounded mx-3 mt-3 mb-2 p-2">
                        Your Choices
                    </div>

                    <!-- choices addition using js -->
                    <div class="card-body" id="choices"></div>
                </div>

                <!-- card for choice addition -->
                <div class="col-7 my-5 card mx-auto">

                    <!-- including alert success if needed -->
                    <% if (typeof success!='undefined') { %>
                        <div class="mt-3">
                            <%- include('partials/alertSuccess',{title:success.title,content:success.content}) %> 
                        </div>
                    <% } %>

                    <!-- including alert danger if needed -->
                    <% if (typeof error!='undefined') { %>
                        <div class="mt-3">
                            <%- include('partials/alertError',{title:error.title,content:error.content}) %> 
                        </div>
                    <% } %>

                    <!-- card heading -->
                    <div class="card-header text-white text-center bg-dark rounded lead m-3 p-2">
                        <i class="fa fa-tasks"></i> Add Choices
                    </div>

                    <div class="card-body">

                        <!-- form for add choice -->
                        <form action="/db/addChoice" method="POST" enctype="application/x-www-form-urlencoded">

                            <div class="form-row">
                                <label for="collegeCode" class="lead">&nbsp;Select Your College</label>
                                <select name="collegecode" class="form-control" id="collegeCode">
                                    <option disabled selected>Select Your College</option>

                                    <!-- select option from collegelist -->
                                    <% for(let college of colleges){ %>
                                        <option value="<%=college.collegecode %>"><%= college.collegename %></option>
                                    <% } %>

                                </select>
                            </div>

                            <!-- courses for choice entry -->
                            <div class="form-row mt-3" id="courses"></div>

                            <div class="form-row mt-3">
                                <div class="col-6 mx-auto">
                                    <button type="submit" class="btn btn-block btn-primary" name="choiceno" value="<%=choiceCount+1%>"><i class="fa fa-tasks"></i> Make as Choice <%=choiceCount+1 %></button>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
        <!-- if choices was locked -->
        <% }else{ %>

            <div class="container">

                <!-- including alert success if needed -->
                <% if (typeof success!='undefined') { %>
                    <div class="mt-3">
                        <%- include('partials/alertSuccess',{title:success.title,content:success.content}) %> 
                    </div>
                <% } %>
                
                <div class="row">

                    <!-- card for final choices -->
                    <div class="card col-4 m-5 mx-auto">

                        <!-- card heading -->
                        <div class="card-header text-center text-white bg-dark rounded m-3 p-2 lead">
                            Your Final Choices
                        </div>

                        <!-- final choices using js -->
                        <div class="card-body finalList" id="choices"></div>

                    </div>
                </div>
            </div>
        <% } %>  
    <% } %>
    <!-- page specific js -->
    <script src="js/choices.js"></script>

    <!-- libraries for bootstrap -->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js" ></script>
    <script src="js/bootstrap.min.js"></script>
    
</body>
</html>